{% extends "layout.html" %}
{% block content %}

<!-- Formulaire requête GET -->
<h2>Formulaire (GET)</h2>
<form action="/form_get" method="GET">

  <fieldset class="mb-3">
    <legend>Genre</legend>
    <div>
      <input type="radio" name="genre" value="H" class="form-check-input" id="exampleRadio1">
      <label class="form-check-label" for="exampleRadio1">HOMME</label>
      <input type="radio" name="genre" value="F" class="form-check-input" id="exampleRadio2">
      <label class="form-check-label" for="exampleRadio2">FEMME</label>
    </div>
  </fieldset>
  <button type="reset" class="btn btn-danger">Reset</button>
  <button type="submit" class="btn btn-primary">Valider</button>
</form>

<h2>Liste des acteurs</h2>
<table class="table">
  <thead>
    <tr>
      <th>Nom<br></th>
      <th>Prénom</th>
      <th>Date de naissance</th>
    </tr>
  </thead>
  <tbody>
    <!-- boucles jinja https://jinja.palletsprojects.com/en/3.0.x/templates/#for -->
    {% for acteur in data %}
    <tr>
      <td>{{ acteur["nom"] }}</td>
      <td>{{ acteur["prenom"] }}</td>
      <td>{{ acteur["date_naissance"] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
