{% extends "layout.html" %}
{% block content %}

<!-- Ajout d'un acteur requête POST -->
<h2>Ajout d'un acteur (POST)</h2>
<form action="/form_post" method="POST">
    <div class="mb-3">
        <label for="inputName" class="form-label">Nom</label>
        <input type="text" class="form-control" name="nom" id="inputName">
    </div>
    <div class="mb-3">
        <label for="inputPrenom" class="form-label">Prénom</label>
        <input type="text" class="form-control" name="prenom" id="inputPrenom">
    </div>
    <div class="mb-3">
        <label for="inputDate" class="form-label">Date de naissance</label>
        <input type="date" class="form-control" name="date_naissance" id="inputDate">
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>

{% endblock %}
