{% extends "layout.html" %}
{% block content %}

<!-- Liste des données -->
<h2>Liste des acteurs</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nom<br></th>
            <th>Prénom</th>
            <th>Date de naissance</th>
        </tr>
    </thead>
    <tbody>
        <!-- boucles jinja https://jinja.palletsprojects.com/en/3.0.x/templates/#for -->
        {% for acteur in data %}
        <tr>
            <td>{{ acteur["nom"] }}</td>
            <td>{{ acteur["prenom"] }}</td>
            <td>{{ acteur["date_naissance"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
