<!DOCTYPE html>
<html lang="fr">
<!-- Ce fichier gabarit des pages avec l'en-tête et le pied de page
Les pages du site complétent le bloc appelé content ce qui rend le site dynamique
-->

<head>
    <meta charset="utf-8" />
    <title>Formulaire html avec flask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Styles avec bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <!-- Header de navigation -->
    {% include 'header.html' %}

    <!-- Modal pour affichage de messages d'information -->
    {% include 'modal.html' %}

    <main class="container">
        <h1>Application web en Python</h1>
        <p>
            On utilise une persistance sur un fichier csv cette année, vous verrez
            comment utiliser une base données en classe de terminale.
        </p>

        <!-- Bloc content Partie DYNAMIQUE -->

        <div id="content">{% block content %}{% endblock %}</div>
    </main>

    <!-- Pied de page -->
    <footer class="py-4 bg-body-secondary fixed-bottom">
        <div class="container text-body-secondary">
            <ul class="list-unstyled small">
                <li class="mb-2">
                    La mise en forme est faite grâce à
                    <a href="https://getbootstrap.com/">bootstrap</a>.
                </li>
                <li class="mb-2">
                    L'application côté serveur fonctionne grâce à la librairie
                    <a href="http://flask.pocoo.org/">Flask</a> sous Python.
                </li>
                <li class="mb-2">
                    Le code source est hébergé sur
                    <a href="https://framagit.org/lyceum/flask-csv">framagit</a>.
                </li>
            </ul>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script>

        var myModal = document.getElementById('flashModal')
        if (myModal) {
            myModal = new bootstrap.Modal(myModal)
            myModal.show()
        }

    </script>
</body>

</html>
